/*remove white triangle - calculate using the header height - height: 95vh;
and deduct the polygon clip path of 75vh and you end up with 20
we use -20 b/c we want to move section up rather than down.*/

.section-about {
	background-color: $color-grey-light-1;
	padding: 25rem 0;
	margin-top: -20vh;
}

.section-features {
	padding: 20rem 0;
	background-image: linear-gradient(
	to right bottom, 
	rgba($color-primary-light, 0.8),
	rgba($color-primary-dark, 0.8)),
	url(../img/nat-4.jpg);
	background-size: cover;
	margin-top: -10rem;
	transform: skewY(-7deg);
	
/*
	selects direct child from all the section features so the boxes will be straight
	we choose the direct child which is the row 7deg. > * will select the direct child*/

	& > * {
		transform: skewY(7deg);
	}

}